<div>
    <label>First Name:</label><span>@Model.FirstName</span><br/>
    <label>Last Name:</label><span>@Model.LastName</span><br/>
    <label>Full Name:</label><span>@Model.FullName</span><br/>
</div>