

@{
    Layout = "myLayout";
}

<form method="POST" action="post_form" >
    <label>First name: </label><input name="firstName" value="" /><br/>
    <label>Last name:</label><input name="lastName" value="" /><br/>
    <button>submit</button>
</form>